{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>TrackSpot</title>


  <!-- ===============================================-->
  <!-- Favicons -->
  <!-- =============================================== -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/logo.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/logo.png' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/logo.png' %}">
  <!-- Change the href to your logo.png file -->
  <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
  <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
  <meta name="theme-color" content="#ffffff">

  <!-- Stylesheets -->
  <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />

</head>



<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container"><a class="navbar-brand d-flex align-items-center fw-bold fs-2" href="{% url 'index' %}">
          <div class="text-warning">Track</div>
          <div class="text-1000">Spot</div>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
            <li class="nav-item" data-anchor="data-anchor"><a class="nav-link fw-medium active" aria-current="page"
                href="#top">Home</a></li>
            <li class="nav-item" data-anchor="data-anchor"><a class="nav-link fw-medium" href="#features">Key
                Features</a></li>
            <li class="nav-item" data-anchor="data-anchor"><a class="nav-link fw-medium" href="#faq">FAQ</a></li>
          </ul>
          <form class="ps-lg-5">
            <a href="{% url 'login' %}">
              <button class="btn btn-lg btn-primary rounded-pill order-0" type="button">Login</button>
            </a>
          </form>
        </div>
      </div>
    </nav>
    <section class="py-0" id="home">
      <div class="bg-holder"
        style="background-image:url(../static/assets/img/illustrations/hero-bg.png);background-position:bottom;background-size:cover;">
      </div>
      <!--/.bg-holder-->

      <div class="container position-relative">
        <div class="row align-items-center py-8">
          <div class="col-md-5 col-lg-6 order-md-1 text-center text-md-end">
            <img class="img-fluid" src="{% static 'assets/img/find2.jpg' %}" width="550" alt="" />
          </div>
          <div class="col-md-7 col-lg-6 text-center text-md-start">
            <h1 class="mb-4 display-3 fw-bold lh-sm">TrackSpot: Easily Find <br
                class="d-block d-lg-none d-xl-block" />What You've Lost on Campus.</h1>
            <p class="mt-3 mb-4 fs-1">Simplify the process of reclaiming lost items at our college hub. Say goodbye to
              endless searching – with TrackSpot, rediscover your belongings effortlessly.
            <h5 class="d-none d-lg-block">Reclaim what's yours today!</h5>
            </p><a class="btn btn-lg btn-primary rounded-pill hover-top" href="{% url   'register' %}"
              role="button">Join Now</a>
          </div>
        </div>
      </div>
    </section>



    <section class="py-5" id="features">
      <div class="container-lg">
        <div class="row align-items-center">
          <div class="col-md-5 col-lg-61 order-md-0 text-center text-md-start">
            <img class="img-fluid" src="{% static 'assets/img/find3.jpg' %}" width="550" alt="" />
          </div>
          <div class="col-md-7 col-lg-62 px-sm-5 px-md-0">
            <h6 class="fw-bold fs-4 display-3 lh-sm">Why TrackSpot</h6>
            <p class="my-4">Find your lost items on the go..... <br class="d-none d-xl-block" />Deliver found items to
              their rightful owners.....</p>
            <div class="d-flex2 align-items-center mb-5">
              <div><img class="img-fluid" src="{% static 'assets/img/upload.jpg' %}" width="140" alt="" /></div>
              <div class="px-4">
                <h5 class="fw-bold text-danger">Upload Found Items</h5>
                <p>Found an item? <br class="d-none d-xl-block"> Upload the item description and <br
                    class="d-none d-xl-block">questions to find rightful owner.</p>
              </div>
            </div>
            <div class="d-flex2 align-items-center mb-5">
              <div><img class="img-fluid" src="{% static 'assets/img/questions.jpg' %}" width="140" alt="" /></div>
              <div class="px-4">
                <h5 class="fw-bold text-primary">Questionnaire</h5>
                <p>Verify the rightful owner? <br class="d-none d-xl-block"> Submit a questionnaire of the item <br
                    class="d-none d-xl-block"> and see all the responses recieved.</p>
              </div>
            </div>
            <div class="d-flex2 align-items-center mb-5">
              <div><img class="img-fluid" src="{% static 'assets/img/verified.png' %}" width="140" alt="" /></div>
              <div class="px-4">
                <h5 class="fw-bold text-success">Verified Users</h5>
                <p>worrying about outside claimers? <br class="d-none d-xl-block"> Admin verification of the users so
                  use<br class="d-none d-xl-block">TrackSpot with authenticated users only.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->

    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-6">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 order-md-0 text-center text-md-start"><img class="img-fluid mb-4"
              src="{% static 'assets/img/quality.jpg' %}" width="550" alt="" /></div>
          <div class="col-md-6 text-center text-md-start offset-md-1">
            <h6 class="fw-bold fs-4 display-3 lh-sm">Designed &amp; built by<br />the latest code <br />integration</h6>
            <p class="my-4 pe-xl-5">Developed with Django User Authentication to prioritize user privacy and enhance
              security measures.</p>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
      <section class="py-8" id="faq">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center mb-3">
              <h6 class="fw-bold fs-4 display-3 lh-sm mb-3">Frequently asked questions</h6>
              <p class="mb-5">The rise of mobile devices transforms the way we consume information entirely and the
                world's most elevant channels such as Facebook.</p>
            </div>
          </div>
          <div class="row flex-center">
            <div class="col-lg-9">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="heading1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                      aria-expanded="true" aria-controls="collapse1"><span
                        class="mb-0 fw-bold text-start fs-1 text-1000">What is the purpose of this
                        website?</span></button>
                  </h2>
                  <div class="accordion-collapse collapse show" id="collapse1" aria-labelledby="heading1"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-100">The purpose of this website is to facilitate the process of
                      reporting lost items, matching them with found items, and connecting rightful owners with their lost
                      belongings within our campus community.</div>
                  </div>
                </div>
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="heading2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2"><span
                        class="mb-0 fw-bold text-start fs-1 text-1000">Who can use this website?</span></button>
                  </h2>
                  <div class="accordion-collapse collapse" id="collapse2" aria-labelledby="heading2"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-100">Anyone within the campus community, including students, faculty,
                      and staff, can use this website to report lost items, submit found items, and claim lost items.
                    </div>
                  </div>
                </div>
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="heading3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3"><span
                        class="mb-0 fw-bold text-start fs-1 text-1000">How do I report a lost item?</span></button>
                  </h2>
                  <div class="accordion-collapse collapse" id="collapse3" aria-labelledby="heading3"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-100">To report a lost item, simply register an account on the website,
                      log in, and fill out the necessary details about the lost item, including a description, location,
                      and any identifying features. You can also upload a picture of the lost item if available.</div>
                  </div>
                </div>
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="heading4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4"><span
                        class="mb-0 fw-bold text-start fs-1 text-1000">What should I do if I find a lost
                        item?</span></button>
                  </h2>
                  <div class="accordion-collapse collapse" id="collapse4" aria-labelledby="heading4"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-100">If you find a lost item, you can upload details about the item,
                      including a description, location found, and any identifying features. You can also upload a picture
                      to help the owner identify the item.</div>
                  </div>
                </div>
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5"><span
                        class="mb-0 fw-bold text-start fs-1 text-1000">How do I claim a lost item?</span></button>
                  </h2>
                  <div class="accordion-collapse collapse" id="collapse5" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-100">To claim a lost item, you must first register an account on the
                      website and log in. Then, navigate to the item you wish to claim and submit your claim along with
                      answers to any questions uploaded by the item's owner.</div>
                  </div>
                </div>
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6"><span
                        class="mb-0 fw-bold text-start fs-1 text-1000">How are claims processed?</span></button>
                  </h2>
                  <div class="accordion-collapse collapse" id="collapse6" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-100">Claims are processed by the owner of the lost item. They can review
                      all claims submitted for their item and decide which claimant they believe is the rightful owner based
                      on the answers provided.</div>
                  </div>
                </div>
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse7"><span
                        class="mb-0 fw-bold text-start fs-1 text-1000">What happens after a claim is
                        approved?</span></button>
                  </h2>
                  <div class="accordion-collapse collapse" id="collapse7" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-100">After a claim is approved by the item owner, the claimant will
                      receive a notification with the contact information of the item owner. They can then contact the owner
                      directly to arrange for the return of the lost item.</div>
                  </div>
                </div>
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse8" aria-expanded="true" aria-controls="collapse8"><span
                        class="mb-0 fw-bold text-start fs-1 text-1000">Can I report multiple lost items or submit multiple
                        found items?</span></button>
                  </h2>
                  <div class="accordion-collapse collapse" id="collapse8" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-100">Yes, users can report multiple lost items and submit multiple found
                      items. Simply log in to your account and follow the same process for each item.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-81 bg-1000">

      <div class="container">
        <div class="row flex-center">
          <div class="col-auto mb-5"><a class="pe-2 d-flex align-items-center text-decoration-none fw-bold fs-3"
              href="#">
              <div class="text-warning">Track</div>
              <div class="text-white">Spot</div>
            </a></div>
        </div>
        <div class="row flex-center">
          <div class="col-auto mb-5">
            <ul class="list-unstyled list-inline mb-0">
              <li class="list-inline-item me3 me-sm-4"><a class="text-light text-decoration-none" href="#top">Home</a>
              </li>
              <li class="list-inline-item me3 me-sm-4"><a class="text-light text-decoration-none" href="#features">Key
                  Features</a></li>
              <li class="list-inline-item me3 me-sm-4"><a class="text-light text-decoration-none" href="#faq">FAQ</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->




  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/is/is.min.js' %}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="{% static 'assets/js/theme.js' %}"></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap"
    rel="stylesheet">
</body>

</html>