{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>TrackSpot</title>


  <!-- ===============================================-->
  <!-- Favicons -->
  <!-- =============================================== -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/logo.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/logo.png' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/logo.png' %}">
  <!-- Change the href to your logo.png file -->
  <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
  <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
  <meta name="theme-color" content="#ffffff">

  <!-- Stylesheets -->
  <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />

</head>


<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container"><a class="navbar-brand d-flex align-items-center fw-bold fs-2"
          href="{% url 'index' %}#faq">
          <div class="text-warning">Track</div>
          <div class="text-1000">Spot</div>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
            <li class="nav-item"><a class="nav-link fw-medium active" aria-current="page"
                href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link fw-medium" href="{% url 'index' %}#features">Key Features</a></li>
            <li class="nav-item"><a class="nav-link fw-medium" href="{% url 'index' %}#faq">FAQ</a></li>

          </ul>
          <form class="ps-lg-5">
            <a href="{% url 'register' %}">
              <button class="btn btn-lg btn-primary rounded-pill order-0" type="button">register</button>
            </a>
          </form>
        </div>
      </div>
    </nav>


<div class="container1">
    <div class="heading1">Sign In</div>
    <form id="signin-form" class="form1" method="post">
        {% csrf_token %}
        <input required class="input" type="text" name="username" id="username" placeholder="Username">
        <input required class="input" type="password" name="password" id="password" placeholder="Password">
        <input class="login-button" type="submit" value="Sign In">
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('signin-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent form submission

        var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;

        // Make AJAX request to login endpoint
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login/', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', csrfToken); // Set CSRF token in the header
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                var response = JSON.parse(xhr.responseText);
                if (response.success) {
                    window.location.href = response.redirect_url;
                } else {
                    alert(response.message); // Display message in alert dialogue
                }
            }
        };
        xhr.send('username=' + encodeURIComponent(username) + '&password=' + encodeURIComponent(password));
    });
});
</script>


  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->



  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/is/is.min.js' %}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="{% static 'assets/js/theme.js' %}"></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap"
    rel="stylesheet">
</body>

</html>